.user-header-nav-mobile {
  background: var(--black);
  border: solid 2px var(--black-tint);
  cursor: pointer;
  display: block;
  padding: 0 1.6rem;
  pointer-events: none;
  position: absolute;
  right: 0px;
  top: 7rem;
  transform: translateX(-10px);
  transition: 200ms;
  opacity: 0;
}

.user-header-nav-mobile-active {
  opacity: 1;
  pointer-events: initial;
  transform: initial;
  z-index: 100;
}

.user-header-nav-mobile a,
.user-header-nav-mobile button {
  align-items: center;
  border: 0px;
  border-bottom: solid 2px var(--black-tint);
  color: var(--white);
  display: flex;
  font-size: 1.6rem;
  gap: 1.2rem;
  outline: none;
  padding: 0.8rem 0;
  width: 100%;
}

.user-header-nav-mobile button {
  background: var(--black);
  border-bottom: none;
}

.user-header-nav-mobile a:hover svg>*,
.user-header-nav-mobile button:hover svg>* {
  fill: var(--main-color);
}

.user-header-nav {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(4, 1fr);
  height: 5rem;
  margin: 2.4rem 0;
}

.user-header-nav a {
  align-items: center;
  background-color: var(--black-tint);
  border-bottom: solid 2px transparent;
  display: flex;
  justify-content: center;
}

.user-header-nav button {
  align-items: center;
  background-color: var(--black-tint);
  border: solid 1px transparent;
  color: var(--white);
  cursor: pointer;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  padding: 0 2.4rem;
  transition: all 200ms;
}

.user-header-nav button:hover {
  border: solid 1px var(--white);
}

.user-header-nav .active {
  border-bottom: solid 2px var(--main-color);
  outline: none;
}

.mobile-button {
  align-items: center;
  background: var(--black-tint);
  border: solid 1px transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  padding: 0px;
  transition: 200ms;
  width: 4rem;
  color: var(--white);
}

.mobile-button::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  transition: 200ms;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
}

.mobile-button:focus,
.mobile-button:hover,
.mobile-menu-active {
  outline: none;
  border: solid 1px var(--main-color);
  color: var(--main-color);
}

.mobile-menu-active::after {
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
}