.button {
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    border-radius: 0.6rem;
    background-color: var(--main-color);
    color: var(--main-color-shade);
    padding: 1.2rem 2.4rem;
    transition: 0.1s;
    min-width: 12.8rem;
}

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fea, 0 0 0 3px #fb1;
}

.button:disabled {
    opacity: 0.5;
    cursor: wait;
}