.login-support-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.8rem;
}

.login-support-buttons label {
    align-items: center;
    display: flex;
    gap: 0.4rem;
}

.login-support-buttons span,
.login-support-buttons a {
    font-size: 1.4rem;    
}

.login-page-signup {
    margin: 4.2rem 0;
    text-align: center;
}

.login-page-signup p {
    font-size: 1.6rem;
    color: var(--white-shade);
}

.login-page-signup a {
    color: var(--main-color);
}