.login-title {
    font-family: var(--second-type);
    font-size: 4.2rem;
    line-height: 1;
    margin: 4.8rem 0 0.8rem 0;
    position: relative;
}

.login-title::after {
    background: var(--main-color);
    border: 0.3rem;
    bottom: 6px;
    content: "";
    display: block;
    height: 1.4rem;
    left: 0px;
    position: absolute;
    width: 1.4rem;
    z-index: -1;
}

.login-subtitle {
    color: var(--white-shade);
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 3.2rem;
}


.login-support-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.8rem;
}

.login-support-buttons label {
    align-items: center;
    display: flex;
    gap: 0.4rem;
}

.login-support-buttons span,
.login-support-buttons a {
    font-size: 1.4rem;    
}

.login-page-signup {
    margin: 4.2rem 0;
    text-align: center;
}

.login-page-signup p {
    font-size: 1.6rem;
    color: var(--white-shade);
}

.login-page-signup a {
    color: var(--main-color);
}