.input-label {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 2.4rem;
    padding-bottom: 0.8rem;
}

.input-label label {
    font-size: 1.6rem;
    line-height: 1;
}

.input-label input {
    background-color: var(--black-tint);
    border: 1px solid var(--black-tint);
    border-radius: 0.4rem;
    color: var(--white);
    display: block;
    font-size: 1.6rem;
    padding: 1.2rem;
    transition: all 0.35s;
    width: 100%;
}

.input-label input:focus,
.input-label input:hover {
    border-color: var(--main-color);
    outline: none;
}

.input-label .error {
    color: var(--error-color);
    font-size: 1.4rem;
    line-height: 1;
    margin-top: 0.4rem;
}