footer {
  background-color: var(--main-color);
  height: 12rem;
  text-align: center;
  color: var(--main-color-shade);
  margin-top: 1.6rem;
}

footer .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 100%;
  justify-content: center;
  margin-top: 0px;
}

footer .container h1 {
  font-size: 1.6rem;
}