* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: var(--white);
    text-decoration: none;
}

:root {
    --main-color: #ffbb11;
    --main-color-shade: #764701;
    --white: #f0f6fc;
    --white-shade: #8b949e;
    --black: #0d1117;
    --black-tint: #161b22;
    --main-type: 'Space Grotesk', sans-serif;
    --second-type: 'Spectral', georgia;
    --error-color: #f31;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--main-type);
    padding-top: 6.4rem;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 2rem;
}

.main-container {
    margin-top: 4rem;
}

.title {
    font-family: var(--second-type);
    font-size: 2.8rem;
    line-height: 1;
    margin: 1rem 0;
    position: relative;
}

.title::after {
    background: var(--main-color);
    border: 0.3rem;
    bottom: 4px;
    content: "";
    display: block;
    height: 1rem;
    left: -2px;
    position: absolute;
    width: 1rem;
    z-index: -1;
}

.animeLeft {
    animation: animeLeft 300ms forwards;
    opacity: 0;
    transform: translateX(-20px);
}

@keyframes animeLeft {
    to {
        opacity: 1;
        transform: initial;
    }
}

input::file-selector-button {
    background-color: var(--black);
    border: dashed 1.75px var(--main-color);
    border-radius: 1.6rem;
    color: var(--main-color);
    cursor: pointer;
    font-size: 1.4rem;
    margin-right: 1.2rem;
    padding: 0.8rem 2.4rem;
}

input[type="file"] {
    cursor: pointer;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh + 16rem);
}

.App-body {
    flex: 1;
}